# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Virtual environments
venv/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/ 